{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>what is this?</h1>
    <div id="about-info">
        <p>
            You can browse here my music records, for now mostly CDs. Vinyls will come soon.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque molestie ligula eu lorem ornare lacinia. In ac dolor risus. Aenean posuere laoreet ipsum vestibulum rhoncus. Etiam dapibus aliquam scelerisque. Ut auctor orci metus, a suscipit neque tempus vitae. Nunc volutpat dictum finibus. Aenean sit amet sem sit amet risus ultricies consequat. Donec sit amet elit quis nisl malesuada vulputate vel id dui.
        </p>
        <p>
            Curabitur vitae fermentum massa. Sed nec ex semper, imperdiet nisl at, auctor velit. Nullam a nibh velit. Duis sit amet est tempor dui tristique mollis quis ut augue. Sed convallis tortor orci, sed tempus nulla placerat a. Donec leo velit, fringilla a volutpat sit amet, interdum ac mi. Maecenas iaculis molestie turpis, vitae pharetra nisi egestas vel. Donec est leo, faucibus vel tempor ut, vehicula vel ante. Phasellus sit amet lorem ut turpis elementum varius.
        </p>
        <p>
            Ut suscipit augue vehicula, commodo magna eget, aliquet eros. Aliquam ullamcorper ipsum ut ipsum molestie interdum. Donec in rutrum augue, at dictum enim. Cras id lobortis massa. Duis id faucibus turpis. Donec et pretium ligula. Nam et arcu vitae ante suscipit molestie.
        </p>
        <p>
            In hac habitasse platea dictumst. Phasellus at accumsan dui. Aenean sem ante, egestas eget risus vitae, bibendum placerat lacus. In justo enim, laoreet vitae feugiat in, rutrum eu tellus. Suspendisse eu ullamcorper lorem. Suspendisse gravida quam ac urna feugiat venenatis vitae commodo dui. Phasellus id nulla id eros ultricies tincidunt eget ac massa. Proin vel purus maximus, imperdiet mi vel, faucibus sem. Nullam interdum volutpat leo, pellentesque auctor odio tempor sed.
        </p>
        <p>
            Integer ut lobortis ligula. Maecenas vestibulum laoreet erat non mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum viverra elementum turpis vitae consequat. Aliquam sagittis lobortis bibendum. Sed feugiat efficitur libero et blandit. Morbi elementum tristique tellus, eu dapibus nisi sollicitudin non. Proin fringilla eleifend eros, sed aliquam nisi eleifend eu. Vivamus porttitor augue at iaculis euismod. Donec vestibulum semper orci, quis efficitur arcu. Integer elementum lectus ac ultrices dignissim. Etiam non lectus vel urna eleifend feugiat. Morbi cursus justo nec dapibus pharetra. Quisque convallis at magna sed malesuada. Cras sagittis ante libero, nec placerat justo iaculis eget. Fusce maximus augue nibh, nec rhoncus velit sagittis convallis.
        </p>
    </div>
</div>

<!-- optional javascript -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- jquery first, then Popper.js, then Bootstrap JS-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>-->
<script src="{{ url_for('static', filename='js/script_main_menu.js') }}"></script>
{% endblock %}