{% extends "layout.html" %}
{% block content %}
<div>
    <h1>{{ title }}</h1>
    <button type="button" class="collapsible" id="query" id="active">
      {% if query %}<u>query</u>: {{ query }}{% else %}Enter your query.{% endif %}
    </button>
    <div id="search" class="content">
        <form action="/query" method="POST">
            <p class="query-info">media:</p>
            <div id="medium-buttons"> 
                <!-- buttons for choice of medium: CD, DVD, vinyl, ebook, book -->
            </div>
            <p class="query-info">query:</p>
            <div class="form-group">
                <input type="text" class="form" placeholder="artist name" name="artist_name">
            </div>
            <div class="form-group">
                <input type="text" class="form" placeholder="album title" name="album_title">
            </div>
            </br>
            <button type="submit" class="button-off" id="btn-submit">submit</button>
        </form>
    </div>

    {% block browse %}
    {% endblock %}

</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="{{ url_for('static', filename='js/script_main_menu.js') }}"></script>
<script src="{{ url_for('static', filename='js/script_make_query.js') }}"></script>
<script src="{{ url_for('static', filename='js/script_collapsible.js') }}"></script>
<script src="{{ url_for('static', filename='js/script_download_message.js') }}"></script>
{% endblock %}