<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{{ title }}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>

  <body>
    <nav id="menu-bar-nav">
        <div id="menu-bar">
          <a class="menu-item menu-item-main" id="menu-item-active" href="{{ url_for('index') }}">my music.</a>
          <a class="menu-item menu-item-browse" href="{{ url_for('browse') }}">browse</a>
          <a class="menu-item menu-item-query" href="{{ url_for('saved_queries') }}">saved queries</a>
          <a class="menu-item" href="{{ url_for('edit') }}">edit</a>
          <a class="menu-item" href="{{ url_for('about') }}">about</a>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <p hidden id="hidden-table-header">{{ table_header }}</p>
    <p hidden id="hidden-table-content">{{ table_content }}</p>
    <p hidden id="hidden-publishers">{{ publishers }}</p>
    <p hidden id="hidden-items-per-page">{{ items_per_page }}</p>
    <p hidden id="hidden-filter">{{ user_filter}}</p>
    <p hidden id="html-dom-ids">{{ html_dom_ids }}</p>
    <p id="empty"></p>
  </body>
</html>