<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{{ title }}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>

  <body>
    <nav id="menu-bar-nav">
        <div id="menu-bar">
          <a class="menu-item" id="menu-item-active" id='menu-item-main' href="{{ url_for('index') }}">my music.</a>
          <a class="menu-item" href="{{ url_for('browse') }}">browse</a>
          <a class="menu-item" href="{{ url_for('edit') }}">edit</a>
          <a class="menu-item" href="{{ url_for('about') }}">about</a>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <p hidden id="hidden-table">{{ table_json }}</p>
    <p hidden id="hidden-items-per-page">{{ items_per_page }}</p>
    <p hidden id="hidden-filter">{{ user_filter}}</p>
  </body>
</html>