{% extends "layout.html" %}
{% block content %}
<div>
    <h1>{{ title }}</h1>
    <div class="collapsible" id="query">
      {% if query %}<u>query</u>: {{ query }}{% else %}Enter your query.{% endif %}
    </div>
    
    <div id="search" class="content">
        <form action="/query" method="POST">
            <p class="query-info">media:</p>
            <div id="medium-buttons"> 
                <button type="button" id="button-CD" class="medium-button">CD</button>
                <button type="button" id="button-vinyl" class="medium-button">vinyl</button>
                <button type="button" id="button-DVD" class="medium-button">DVD</button>
                <button type="button" id="button-ebook" class="medium-button">ebook</button>
                <button type="button" id="button-book" class="medium-button">book</button>
            </div>
            <p class="query-info">query:</p>
            <div class='form-group'>
                <input type='text' class='form deletable' placeholder='artist name' name='artist_name' id='artist_name'>
                <a other-artists-info="show non-title artists" class="tooltip">
                    <input type="checkbox" id="other-artists-checkbox" name="other-artists-checkbox" value=0>
                </a>
            </div>
            <div class='form-group'>
                <input type='text' class='form deletable' placeholder='album title' name='album_title' id='album_title'>
            </div>
            <div class='form-group'>
                <input type='text' list='publisher_list' class='form deletable' placeholder='publisher' name='publisher' id='publisher'>
                <datalist id='publisher_list'></datalist>
            </div>
            </br>
            <button type="submit" class="button-off" id="btn-submit">submit</button>
        </form>
    </div>

    {% block browse %}
    {% endblock %}
    <!-- The Modal -->
    <div id="ask_query_name" class="modal">
        <span onclick="document.getElementById('ask_query_name').style.display='none'"
        class="close" title="Close Modal">&times;</span>

        <!-- Modal Content -->
        <form class="modal-content animate" action="/save_query" id="query-name-form">
            <div class="pop-up-form-container">
                <label class="pop-up-form-label" for="qname"><b>query name</b></label>
                <input class="pop-up-form-input" type="text" placeholder="enter your query name" name="qname" id="qname">
                <button class="pop-up-form-button" type="submit">confirm</button>
            </div>
            <div class="pop-up-form-container pop-up-form-info">
                If you leave the field empty, a default query name will be assigned.
            </div>
            <div class="pop-up-form-container pop-up-form-cancelbtn-container">
                <button class="general-button" type="button" 
                onclick="document.getElementById('ask_query_name').style.display='none'" class="cancelbtn">cancel</button>
            </div>
        </form>
    </div>

</div>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://unpkg.com/json5@2/dist/index.min.js"></script>
<script src="{{ url_for('static', filename='js/script_main_menu.js') }}"></script>
<script src="{{ url_for('static', filename='js/script_make_query.js') }}"></script>
<script src="{{ url_for('static', filename='js/script_collapsible.js') }}"></script>
<script src="{{ url_for('static', filename='js/script_download_message.js') }}"></script>
{% endblock %}