{% extends "layout.html" %}
{% block content %}
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<div>
    <h1>{{ title }}</h1>
	<div id="new_query_message"></div>
    <div id="queries_containter">
		<table id="queries_table" class="in-queries-container">
		</table>

		<div class="in-queries-container indented-text">
			You may combine saved queries using parentheses 
			and boolean operators <strong>AND</strong>, <strong>OR</strong> and <strong>NOT</strong>.
			For example:
			<div class="indented-text">
				"<span class="codelike">(1 and 2) or (3 and 4)</span>" or "<span class="codelike">5 and not (6 or 7)</span>"
			</div>
			Each such query will be saved and then you can use it to browse the data.
		</div>
		
		<div id="query-editor" class="in-queries-container"></div>
		<button class="general-button" type="button" id="save-query-button">save query</button>
	</div>

	<!-- The Modal -->
    <div id="temp_info" class="modal">
        <span onclick="document.getElementById('temp_info').style.display='none'"
        class="close" title="Close Modal">&times;</span>

        <!-- Modal Content -->
        <form class="modal-content animate" action="/save_query" id="query-name-form">
            <div class="pop-up-form-container pop-up-form-info">
                Thank you for submitting you query. <br>
				unfortunatelly, it has not been stored anywhere. <br>
				Come back here in a year and enter your query again. It is likely, you will be able to see the output then. <br>
				Otherwise accept that the answer is 42.
            </div>
            <div class="pop-up-form-container pop-up-form-cancelbtn-container">
                <button class="general-button" type="button" 
                onclick="document.getElementById('temp_info').style.display='none'" class="cancelbtn">cancel</button>
            </div>
        </form>
    </div>

	
</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://unpkg.com/json5@2/dist/index.min.js"></script>
<script src="{{ url_for('static', filename='js/script_main_menu.js') }}"></script>
<script src="{{ url_for('static', filename='js/script_saved_queries.js') }}"></script>
<p hidden id="hidden-saved-query-message">{{ saved_query_message }}</p>
<p hidden id="hidden-queries-table-header">{{ queries_table_header }}</p>
<p hidden id="hidden-queries-table">{{ queries_table }}</p>
<p hidden id="hidden-query-dicts">{{ query_dicts }}</p>

{% endblock %}