:root {
  --colour-main-background: lightgrey;
  --colour-dark-magenta: rgb(188, 55, 188);
  --colour-light-magenta: rgb(255, 141, 255);
  --colour-menu-gray: rgb(168, 168, 168);
  --colour-border: gray;
  --colour-text-gray: rgb(99, 99, 99);
  --colour-text-white: white;
  --colour-table-background: white;
  --colour-special-text: midnightblue;
}

body {
  background-color: var(--colour-main-background);
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

div.trim {
  position: absolute;
  top: 130px; right: 10%; bottom: 10%; left: 10%;
  overflow: hidden;
  border-radius: 0% 40%;
}

#menu-bar {
  font-size: x-large;
	width: 100%;
	display: flex;
	background-color: var(--colour-menu-gray);
	justify-content: flex-start;
}

.menu-item {
  display: block;
  padding: 10px;
  color: var(--colour-dark-magenta);
  text-decoration: none;
	min-width: 80px;
}

#menu-item-active {
  font-weight: bold;
  background-color: rgb(182, 182, 182);
}

/* #menu-item-main {
  font-weight: bold;
} */

.menu-item:hover {
  font-weight: bold;
  background-color: rgb(128, 128, 128);
  color: var(--colour-light-magenta); 
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  border-top: 1px solid var(--colour-border);
  border-bottom: 1px solid var(--colour-border);
  border-left: none;
  border-right: none;
  border-radius: 15px;
  background-color: #eee;
  color: var(--colour-text-gray);
  cursor: pointer;
  padding: 10px 0px 10px 15px;
  width: 100%;
  text-align: left;
  /* outline: none; */
  font-size: 16px;
  margin: 5px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: var(--colour-main-background);
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  color: var(--colour-text-white);
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the collapsible content. Note: hidden by default */
.content {
  border-radius: 15px;
  padding: 0 0 10px 10px;
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin: 5px;
  width: 100%;
}

/* part for the whole search */
#search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* query entered */
.query-info {
  line-height: normal;
  font-weight: bold;
  margin: 0;
}

#query {
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 1px solid var(--colour-border);
  border-bottom: 1px solid var(--colour-border);
  border-radius: 15px;
  padding-left: 10px;
}

#medium-buttons {
  display: flex;
}

.medium-button {
  margin: 5px;
  padding: 5px;
  border: none;
  font-size: large;
}

.clicked {
  background-color: var(--colour-border);
  color: var(--colour-text-white);
}

.medium-button:hover {
  color: var(--colour-dark-magenta);
}

.form-group {
  display: inline-block;
  min-width: 20%;
}

.form {
  font-size: large;
  border-radius: 5px;
  border-style: none;
  min-height: 30px;
  margin: 5px;
}

span.deleteicon {
  position: relative;
  display: inline-flex;
  align-items: center;
}
span.deleteicon span {
  position: absolute;
  display: block;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 30%;
  color: #fff;
  background-color: #ccc;
  font: 18px monospace;
  text-align: center;
  line-height: 1em;
  cursor: pointer;
}
span.deleteicon input {
  padding-right: 30px;
  box-sizing: border-box;
}

#btn-submit {
  text-transform: uppercase;
  font-weight: bold;
}

table, th, td {
  background-color: var(--colour-table-background);
  border-collapse: collapse;
  padding: 5px;
  border: 1px solid;
  color: var(--colour-text-gray);
}

th {
  font-weight: bold;
  background-color: rgb(144, 144, 144);
  color:var(--colour-special-text);
}

table {
  width: 100%;
}

.new_query:hover {
  background-color: var(--colour-main-background);
  cursor: pointer;
  color: var(--colour-special-text);
}


#pages-controls, #pages-controls-bottom {
	bottom: 0;
	width: 100%;
	display: grid;
  grid-template-columns: 40px 40px auto 40px 40px 40px 40px 40px 40px;
  column-gap: 2px;
  justify-items:	stretch;
	background-color: var(--colour-menu-gray);
}

#pages-controls {
  grid-template-columns: 40px 40px auto 40px 40px 40px 40px 40px 40px;
}

.slide {
  padding-top: 10px;
  padding-bottom: 10px;
	color: var(--colour-text-white);
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
  height: 30px;
  line-height: 30px;
	background-color: var(--colour-border);
}

#page-info, #page-info-bottom {
  padding-top: 10px;
  padding-bottom: 10px;
	text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--colour-text-white);
  height: 30px;
  line-height: 30px;
}

#results {
  width: 100%;
  bottom: 20px;
  overflow: scroll;
} 

.button-off {
  border-style: none;
  border-radius: 5px;
  min-height: 30px;
  min-width: 30px;
  margin: 2px;
  color: var(--colour-dark-magenta);
  font-weight: bolder;
  font-stretch: ultra-expanded;
  font-size: medium;
}

.button-on {
  border-style: none;
  border-radius: 5px;
  min-height: 30px;
  min-width: 30px;
  margin: 2px;
  color: var(--colour-text-white);
  background-color: var(--colour-dark-magenta);
  font-weight: bolder;
  font-stretch: ultra-expanded;
  font-size: larger;
}

.button-phantom {
  border-style: none;
  border-radius: 5px;
  border-style: none;
  min-height: 30px;
  min-width: 30px;
  margin: 2px;
  opacity: 0;
}

#about-info {
  width: 60%;
}

#vinyl {
  height: 100px;
  width: 100px;
  position: absolute;
}

/* for edit.html */
#tabs {
  width: 80%;
	margin: auto;
}

#tabs > ul {
	text-align: center;
  list-style-type: none;
	display: flex;
  padding: 0;
  margin: 0;
}

#tabs > ul > li {
  min-width: 20%;
  font-size: large;
  font-weight: bold;
}

#tabs > ul > li > a {
	display: block;
	height: 30px;
	margin-right: 2px;
  background-color: var(--colour-menu-gray);
	color: var(--colour-dark-magenta);
  text-decoration: none;
	border-radius: 3px 3px 0 0;
  overflow: hidden;
  position: relative;
  bottom: 0;
}

#tabs > div {
	padding: 15px;
	background: #EAEAEA;
	transition: opacity 200ms linear;
}

#tabs .edit-active {
	background: #eaeaea;
	color: #333;
}

#tabs .hidden { display: none; }
#tabs .visible { display: block; }
#tabs .visuallyhidden { opacity: 0; }

p {
	line-height: 1.5em;
	/* margin-bottom: 1em; */
}

/* # for id
   . for class */